In [1]:
import pandas as pd
import gmaps
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
hotel_data_to_load = "WeatherPy_vacation.csv"

In [4]:
hotel_data_df = pd.read_csv(hotel_data_to_load)
hotel_data_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,0,Carnarvon,AU,80.60,-24.87,113.63,few clouds,Hospitality Carnarvon
1,1,Avarua,CK,78.80,-21.21,-159.78,scattered clouds,Paradise Inn
2,4,Busselton,AU,68.00,-33.65,115.33,scattered clouds,Observatory Guest House
3,5,Hithadhoo,MV,84.49,-0.60,73.08,broken clouds,Scoop Guest House
4,6,Archidona,ES,60.01,37.10,-4.39,light rain,Hotel Escua
...,...,...,...,...,...,...,...,...
311,551,Autazes,BR,73.27,-3.58,-59.13,light rain,Apart hotel Tupinambá
312,552,Linguere,SN,65.21,15.40,-15.12,broken clouds,Centre Amadou Seck - Linguere
313,553,Cabedelo,BR,77.00,-6.98,-34.83,few clouds,Lua Mansa Pousada
314,554,Maiduguri,NG,79.38,11.85,13.16,broken clouds,College of Nursing & Midwifery Female's Hostel
315,555,Villa Union,MX,70.00,23.20,-106.23,clear sky,My Fantasy Auto-Hotel

In [5]:
richards_bay_city_df = hotel_data_df[hotel_data_df["City"] == "Richards Bay"]
richards_bay_city_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
88,157,Richards Bay,ZA,72.75,-28.78,32.04,scattered clouds,BON Hotel Waterfront Richards Bay

In [6]:
east_london_city_df = hotel_data_df[hotel_data_df["City"] == "East London"]
east_london_city_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
151,267,East London,ZA,69.8,-33.02,27.91,clear sky,Tu Casa

In [7]:
port_alfred_city_df = hotel_data_df[hotel_data_df["City"] == "Port Alfred"]
port_alfred_city_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
9,14,Port Alfred,ZA,66.99,-33.59,26.89,clear sky,The Halyards Hotel

In [8]:
port_elizabeth_city_df = hotel_data_df[hotel_data_df["City"] == "Port Elizabeth"]
port_elizabeth_city_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
45,86,Port Elizabeth,ZA,60.8,-33.92,25.57,clear sky,39 On Nile Guest House

In [9]:
#latitude and longitude
richards_bay_city = (-28.78, 32.04)
east_london_city = (-33.02, 27.91)
port_alfred_city = (-33.59, 26.89)
port_elizabeth_city = (-33.92, 25.57)
fig = gmaps.figure()
richards_bay_citytoport_elizabeth_city = gmaps.directions_layer(richards_bay_city, port_elizabeth_city)
fig.add_layer(richards_bay_citytoport_elizabeth_city)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
fig = gmaps.figure()
richards_bay_citytoport_elizabeth_city_via_east_london_city_via_port_alfred_city = gmaps.directions_layer(
        richards_bay_city, port_elizabeth_city, waypoints=[east_london_city, port_alfred_city],
        travel_mode ='DRIVING')
fig.add_layer(richards_bay_citytoport_elizabeth_city_via_east_london_city_via_port_alfred_city)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
cities_df = pd.concat([richards_bay_city_df, east_london_city_df, port_alfred_city_df, port_elizabeth_city_df])
cities_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
88,157,Richards Bay,ZA,72.75,-28.78,32.04,scattered clouds,BON Hotel Waterfront Richards Bay
151,267,East London,ZA,69.80,-33.02,27.91,clear sky,Tu Casa
9,14,Port Alfred,ZA,66.99,-33.59,26.89,clear sky,The Halyards Hotel
45,86,Port Elizabeth,ZA,60.80,-33.92,25.57,clear sky,39 On Nile Guest House

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt><dd>and<dd>{Max Temp} °F</dd>
</dl>
"""

In [13]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]

In [14]:
#map of 4 cities 
locations = cities_df[["Lat", "Lng"]]
cities = cities_df["City"]
current_weather = hotel_data_df[["Current Description", "Max Temp"]]
country = cities_df["Country"]
                                
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))