In [1]:
#Challenge Part 2

In [2]:
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
city_data_to_load = "WeatherPy_Challenge.csv"

In [4]:
city_data_df = pd.read_csv(city_data_to_load)
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Carnarvon,AU,2020-04-19 06:36:30,-24.87,113.63,80.60,61,14,17.22,few clouds,0.00,0.0
1,1,Avarua,CK,2020-04-19 06:32:56,-21.21,-159.78,78.80,78,47,9.17,scattered clouds,0.00,0.0
2,2,Polson,US,2020-04-19 06:36:31,47.69,-114.16,42.01,25,99,1.28,light rain,0.00,0.0
3,3,Lasa,IT,2020-04-19 06:36:31,46.62,10.70,52.00,93,75,6.93,broken clouds,0.00,0.0
4,4,Busselton,AU,2020-04-19 06:36:31,-33.65,115.33,68.00,34,25,17.52,scattered clouds,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,551,Autazes,BR,2020-04-19 06:38:30,-3.58,-59.13,73.27,97,100,1.41,light rain,2.95,0.0
552,552,Linguere,SN,2020-04-19 06:38:30,15.40,-15.12,65.21,72,52,10.07,broken clouds,0.00,0.0
553,553,Cabedelo,BR,2020-04-19 06:38:30,-6.98,-34.83,77.00,94,20,3.36,few clouds,0.00,0.0
554,554,Maiduguri,NG,2020-04-19 06:34:07,11.85,13.16,79.38,16,80,3.27,broken clouds,0.00,0.0
555,555,Villa Union,MX,2020-04-19 06:38:31,23.20,-106.23,70.00,85,0,1.01,clear sky,0.00,0.0

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Prompt customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [8]:
# Get the rain amount.
city_rain_inches = city_data_df["Rain inches (last 3 hrs)"]
inches = []
for inch in city_rain_inches:
    inches.append(min(inch, 0))

In [9]:
# Get the snow amount.
city_snow_inches = city_data_df["Snow inches (last 3 hrs)"]
inches = []
for inch in city_snow_inches:
    inches.append(min(inch, 0))

In [10]:
#Prompt customer to pick for rain
city_rain_inches = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) yes

In [11]:
#Prompt customer to pick for rain
city_snow_inches = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be snowing? (yes/no) yes

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Carnarvon,AU,2020-04-19 06:36:30,-24.87,113.63,80.60,61,14,17.22,few clouds,0.00,0.0
1,1,Avarua,CK,2020-04-19 06:32:56,-21.21,-159.78,78.80,78,47,9.17,scattered clouds,0.00,0.0
4,4,Busselton,AU,2020-04-19 06:36:31,-33.65,115.33,68.00,34,25,17.52,scattered clouds,0.00,0.0
5,5,Hithadhoo,MV,2020-04-19 06:36:31,-0.60,73.08,84.49,74,63,11.72,broken clouds,0.00,0.0
8,8,Ternate,ID,2020-04-19 06:35:57,0.80,127.40,84.85,74,43,4.72,moderate rain,3.21,0.0
11,11,Puerto Ayora,EC,2020-04-19 06:36:33,-0.74,-90.35,79.00,89,13,8.99,light rain,0.20,0.0
12,12,Jiazi,CN,2020-04-19 06:36:33,22.88,116.07,84.79,55,16,11.79,few clouds,0.00,0.0
13,13,Lorengau,PG,2020-04-19 06:36:34,-2.02,147.27,84.90,69,10,0.40,light rain,0.28,0.0
14,14,Port Alfred,ZA,2020-04-19 06:32:46,-33.59,26.89,66.99,81,0,10.00,clear sky,0.00,0.0
16,16,Victoria,HK,2020-04-19 06:36:30,22.29,114.16,82.00,86,29,7.00,scattered clouds,0.00,0.0

In [13]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Carnarvon,AU,80.60,-24.87,113.63,few clouds,
1,Avarua,CK,78.80,-21.21,-159.78,scattered clouds,
4,Busselton,AU,68.00,-33.65,115.33,scattered clouds,
5,Hithadhoo,MV,84.49,-0.60,73.08,broken clouds,
8,Ternate,ID,84.85,0.80,127.40,moderate rain,
11,Puerto Ayora,EC,79.00,-0.74,-90.35,light rain,
12,Jiazi,CN,84.79,22.88,116.07,few clouds,
13,Lorengau,PG,84.90,-2.02,147.27,light rain,
14,Port Alfred,ZA,66.99,-33.59,26.89,clear sky,
16,Victoria,HK,82.00,22.29,114.16,scattered clouds,

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Carnarvon,AU,80.60,-24.87,113.63,few clouds,Hospitality Carnarvon
1,Avarua,CK,78.80,-21.21,-159.78,scattered clouds,Paradise Inn
4,Busselton,AU,68.00,-33.65,115.33,scattered clouds,Observatory Guest House
5,Hithadhoo,MV,84.49,-0.60,73.08,broken clouds,Scoop Guest House
8,Ternate,ID,84.85,0.80,127.40,moderate rain,Grand Dafam Bela Ternate
11,Puerto Ayora,EC,79.00,-0.74,-90.35,light rain,Finch Bay Galapagos Hotel
12,Jiazi,CN,84.79,22.88,116.07,few clouds,Hotel Jin Hao
13,Lorengau,PG,84.90,-2.02,147.27,light rain,Lorengau Harbourside Hotel
14,Port Alfred,ZA,66.99,-33.59,26.89,clear sky,The Halyards Hotel
16,Victoria,HK,82.00,22.29,114.16,scattered clouds,Mini Hotel Central

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt><dd>and<dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
#map of hotels for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
cities = hotel_df["City"]
current_weather = city_data_df[["Current Description", "Max Temp"]]
country = hotel_df["Country"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Add the data to a new DataFrame
hotel_complete_df = pd.DataFrame(hotel_df)
hotel_complete_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Carnarvon,AU,80.60,-24.87,113.63,few clouds,Hospitality Carnarvon
1,Avarua,CK,78.80,-21.21,-159.78,scattered clouds,Paradise Inn
4,Busselton,AU,68.00,-33.65,115.33,scattered clouds,Observatory Guest House
5,Hithadhoo,MV,84.49,-0.60,73.08,broken clouds,Scoop Guest House
8,Ternate,ID,84.85,0.80,127.40,moderate rain,Grand Dafam Bela Ternate
11,Puerto Ayora,EC,79.00,-0.74,-90.35,light rain,Finch Bay Galapagos Hotel
12,Jiazi,CN,84.79,22.88,116.07,few clouds,Hotel Jin Hao
13,Lorengau,PG,84.90,-2.02,147.27,light rain,Lorengau Harbourside Hotel
14,Port Alfred,ZA,66.99,-33.59,26.89,clear sky,The Halyards Hotel
16,Victoria,HK,82.00,22.29,114.16,scattered clouds,Mini Hotel Central

In [21]:
#Save new DataFrame as a CSV file- WeatherPy_Challenge.csv 
output_data_file = "WeatherPy_vacation.csv"
# Export the City_Data into a CSV.)
hotel_complete_df.to_csv(output_data_file, index_label="City_ID")